<div class="container">
  <div class="row justify-content-md-center gx-5">
    <div class="col">

    </div>
    <div class="col-lg-8">
      <div class="container">
        <h1>Игры</h1>
      </div>

      <% @games.each do |game| %>
        <%= render game %>
      <% end %>
    </div>
    <div class="col">

    </div>
  </div>
  
</div>

